.Homefooter {
  width: 100%;
  height: 100px;
}

.FooterParaContainer {
  position: absolute;
  bottom: -1500px;
  width: 100%;
  text-align: center;
}

.footerPara {
  background-color: black;
  color: white;
  height: 80px;
}

.Form-btnContainer {
  border: 1px solid black;
}
