/* .novel-grid-container {
  width: 100%;
  display: grid;
  grid-template-rows: 33% 33% 33%;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
  grid-column-gap: 1px;
  background-image: linear-gradient(to top right, black, maroon);
  row-gap: 200px;
  padding: 20px;
  box-sizing: border-box;
  color: black;
  font-size: 50px;
  font-weight: bold;
  height: 1200px;
  position: relative;
} This is the original novel styling*/

.novel-grid-container {
  width: 100%;
  display: grid;
  grid-template-rows: 33% 33% 33%;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
  grid-column-gap: 1px;
  background-image: linear-gradient(to top right, black, maroon);
  row-gap: 1px;
  padding: 20px;
  box-sizing: border-box;
  color: black;
  font-size: 50px;
  font-weight: bold;
  height: 1000px;
  position: relative;
}

.book1 {
  background-image: url("../assets/images/book1.jpg");
  background-repeat: no-repeat;
  background-size: 400px;
  width: 400px;
  background-color: rgb(221, 120, 137);
  color: black;
  background-position: 0px -100px;
  margin-left: -10px;
  height: 500px;
  box-sizing: border-box;
  border-radius: 10px;
}
.book2 {
  background-image: url("../assets/images/book2.jpg");
  background-size: 400px;
  width: 400px;
  background-repeat: no-repeat;
  background-color: rgb(69, 69, 112);
  height: 500px;
  box-sizing: border-box;
  border-radius: 10px;
}
.book3 {
  background-image: url("../assets/images/book3.jpg");
  background-size: 400px;
  width: 400px;
  background-repeat: no-repeat;
  margin-left: 10px;
  background-color: lightskyblue;
  background-position: 0px -10px;
  height: 500px;
  box-sizing: border-box;
  border-radius: 10px;
}
